{% extends "airflow/main.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{{ super() }}
<h2>Repos</h2>


<table class="table table-striped table-bordered">
    <tr>
        <th>Folder</th>
        <th>Branch</th>
        <th>Committed</th>
        <th>Git hash</th>
        <th>Author</th>
    </tr>
    {% for repo in repos %}
    <tr>
        <td>
            <a href="{{ url_for('DeploymentView.status', folder=repo.folder) }}" class="btn btn-sm btn-default">
                <span class="sr-only">Details</span>
                <i class="fa fa-magnifying-glass"></i>
            </a>
            {{ repo.folder }}
        </td>
        <td>{{ repo.active_branch }}</td>
        <td>{{ repo.committed_date_str }}</td>
        <td>{{ repo.sha }}</td>
        <td>{{ repo.author }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
